*{
	overflow-x: hidden; 
	margin:	0;
	padding: 0;
}

body > p:first-of-type{
	float: right;
	margin-right: 3em;
	font-size: 1.5em;
	margin-top: 0.9em;
	color: #000001;
}

body > div#nav{
	position: relative;
	top:1.5em;
	right: 3em;
}

body > ul#skip{
	display: none;
	font-size: 0;
}

body > #nav > ul{
	list-style-type: none;
	float: right;
}

body > #nav > ul > li > a{
	color: gray;
	text-decoration: none;
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-size: 0.7em;
}

body > #nav > ul > li > a:hover{
	text-decoration: underline;
	cursor: pointer;
}

div#title{
	width: 15em;
	height: 12em;
	border: solid 1px;
	color: gray;
	overflow: hidden;
	margin: 2em 0 1em 10%;
}

h1{
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	margin-left: 10%;
	color: gray;
	text-align: left;
	margin:0.5em;
}

h1 > span#name{
	color: gray;
	font-weight: 600;
	font-family: "Courier New", monospace;
	font-size: 1.7em;
}

h1 > span#point{
	color:#d8f096;
	font-size: 1.5em;
	font-weight: 600;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: typing 3.5s steps(40, end),
	blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

div.page > ul > li > span#cpp{
	color: #00d8d8;
}

div.page > ul > li > span#html{
	color:#ff3333;
}
div.page > ul > li > span#mysql{
	color: blue;
}	

div.page > ul > li > span#matlab{
color: #cccc00;
}

div.page{
	width: 65%;
	margin: 0 auto;
}

div.page > p, div.page > ul.listskills{
	margin: 0 0.5em;
	color: #575757;
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	font-size: 0.85em;
	line-height: 1.5em;
}

div.page > p > span#im{
	color: #ffae1a;
}

div.page > h2, div.page > div.contacts > h2{
	font-size: 0.8em;
	color: #cccccc;
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	margin: 0.7em 0;
}

div.page > ul.listskills{
	list-style-position: inside;
	list-style-type: circle;
	margin: 0.5em 0 0.5em 2.5em;
	line-height: 1.4em;
}

div.page > p > a#squerz{
	color: rgb(97,160,180);
	text-decoration: none;
}

div.page > p > a#squerz:hover{
	text-decoration: underline;
	cursor: pointer;
}

div.page > p > a#squerz:visited{
	color: #663399;
}

div#line{
	width: 40%;
	margin: 1em auto;
	height: 1px;
	background-color: #cccccc;
}

div.page > div.contacts{
	width: 30%;
	float: left;
}

div.page > div.contacts > a#paperino{
	text-decoration: none;
	font-size: 1.35vw;
	color: #46ada7;
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	text-align: center;
	margin-left:3vw;
	cursor: pointer;
}

div.page > div.contacts > a#paperino:hover{
	text-decoration: underline;
}

div.page > div.contacts:first-of-type, div.page > div.contacts:nth-of-type(3){
	margin-left: 20%;
}

div.page > div.contacts > p, div.page > div.contacts > h2, div.page > div.contacts > ul > li{
	text-align: center;
}

div.page > div.contacts > p, div.page > div.contacts > h2{
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	margin-bottom: 0.5em;
}


div.page > div.contacts > p{
	font-size: 0.85em;
	color: #575757;
}

div.page > div.contacts > ul{
	padding-left: 0.3em;
}

div.page > div.contacts > ul > li{
	list-style-position: inside;
	list-style-type: none;
	line-height: 1.2em;
}

div.page > div.contacts > ul > li > a{
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	text-decoration: none;
	color: #78a3ff;
	font-size: 0.9em;
}

div.page > div.contacts > ul > li > a:hover{
	text-decoration: underline;
	cursor: pointer;
}

div.page > div.contacts > ul > li > a:visited{
	color: #996666;
}

footer{
	position: relative;
	bottom: 0;
	width: 100%;
	margin: 3em 0 0 0;
}

footer > p{
	text-align: center;
	line-height: 2em;
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	background-color: #cccccc;
	font-size: 0.8em;
	bottom: 0;
	color: #000001;
}

footer > p > span#heart{
	color: red;
}

/* ---- NIGHT MODE ---- */

body.night
{
    background: #00151f;
}
.toggle
{
    position: absolute;
    top: 1.5em;
    right: 1em;
    background: #fff;
    border: 1px solid #000001;
    width: 45px;
    height: 20px;
    cursor: pointer;
    border-radius: 20px;
    transition: 0.5s;
}
.toggle.active
{
    background: #000001;
    border: 1px solid #fff;
}
.toggle:before
{
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: #00151f;
    border-radius: 50%;
    transition: 0.5s;
}
.toggle.active:before
{
    left: 27px;
    background: #fff;
}

body.night div#nav , body.night div#title > h1, body.night div#title > h1 > span#name, body.night div.page > p, body.night div.page > ul.listskills{
	color: white;
}

body.night div.page > div.contacts > p, body.night p:first-of-type{
	color: white;
} 

body.night footer > p{
	color: #000001 !important;
	background-color: #e6eef0;
}

body.night div#nav > ul > li{
	color: #ccc;
}

@media only screen and (max-width: 701px){

div.page{
	width: 75%;
}

body > div#nav{
	right: 1.5em;
}

div.page > div.contacts > a#paperino{
	font-size: 2vw;
}
}

@media only screen and (max-width: 501px){

div.page > div.contacts > ul > li > a{
	font-size: 0.7em;
}
}