*{
	overflow-x: hidden; 
	margin:	0;
	padding: 0;
}

body > p:first-of-type{
	display: none;
	float: right;
	margin-right: 3em;
	font-size: 1.5em;
	margin-top: 0.9em;
	color: #000001;
}

body > div#nav{
	position: relative;
	top:1.5em;
	right: 3em;
}

body > #nav > ul{
	list-style-type: none;
	float: right;
}

body > #nav > ul > li > a{
	color: gray;
	text-decoration: none;
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-size: 0.7em;
}

body > #nav > ul > li > a:hover{
	text-decoration: underline;
	cursor: pointer;
}

div#title{
	width: 11em;
	height: 11em;
	border: solid 1px;
	color: gray;
	overflow: hidden;
	margin: 2em 0 1em 0;
	line-height: 2.3em;
}

h1{
	font-family: 'DM Serif Display', serif;
	font-weight: 400;
	margin-left: 10%;
	color: gray;
	text-align: left;
	margin:0.5em;
}

h1 > span#name{
	color: gray;
	font-weight: 600;
	font-family: "Courier New", monospace;
	font-size: 1em;
}

h1 > span#point{
	color:#d8f096 !important;
	font-size: 1em;
	font-weight: 600;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: typing 3.5s steps(40, end),
	blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

div.page > ul > li > span#cpp{
	color: #00d8d8;
}

div.page > ul > li > span#html{
	color:#ff3333;
}
div.page > ul > li > span#mysql{
	color: blue;
}	

div.page > ul > li > span#matlab{
color: #cccc00;
}

div.page{
	width: 90%;
	margin: 0 auto;
}

div.page > p, div.page > ul.listskills{
	margin: 0 0.5em;
	color: #575757;
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	font-size: 0.85em;
	line-height: 1.5em;
}

div.page > p > span#im{
	color: #ffae1a;
}

div.page > h2, div.page > div.contacts > h2{
	font-size: 0.8em;
	color: #cccccc;
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	margin: 0.7em 0;
}

div.page > ul.listskills{
	list-style-position: inside;
	list-style-type: circle;
	margin: 0.5em 0 0.5em 2.5em;
	line-height: 1.4em;
}

div.page > p > a#squerz{
	color: rgb(97,160,180);
	text-decoration: none;
}

div.page > p > a#squerz:hover{
	text-decoration: underline;
	cursor: pointer;
}

div.page > p > a#squerz:visited{
	color: #663399;
}

div.page > p > a::after{
  content:" <" attr(href) ">";
}

div#line{
	width: 40%;
	margin: 1em auto;
	height: 1px;
	background-color: #cccccc;
}

div.page > div.contacts{
	width: 30%;
	float: left;
}

div.page > div.contacts > a#paperino{
	text-decoration: none;
	font-size: 0.9em;
	color: #46ada7;
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	text-align: center;
	margin-left:15%;
	cursor: pointer;
}

div.page > div.contacts > a#paperino:hover{
	text-decoration: underline;
}

div.page > div.contacts:first-of-type{
	margin-left: 5%;
}

div.page > div.contacts > p, div.page > div.contacts > h2, div.page > div.contacts > ul > li{
	text-align: center;
}

div.page > div.contacts > p, div.page > div.contacts > h2{
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	margin-bottom: 0.5em;
}


div.page > div.contacts > p{
	font-size: 0.85em;
	color: #575757;
}

div.page > div.contacts > ul{
	padding-left: 0.3em;
}

div.page > div.contacts > ul > li{
	list-style-position: inside;
	list-style-type: none;
	line-height: 1.2em;
}

div.page > div.contacts > ul > li > a{
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	text-decoration: none;
	color: #78a3ff;
	font-size: 0.9em;
}

div.page > div.contacts > ul > li > a:hover{
	text-decoration: underline;
	cursor: pointer;
}

div.page > div.contacts > ul > li > a:visited{
	color: #996666;
}

div.page > div.contacts > ul > li >  a::after{
	display: block;
	font-size: 0.7em;
  	content:" <" attr(href) ">";
}

div.page > div.contacts > p:last-of-type > span#first{
	color:orange;
}

div.page > div.contacts > p:last-of-type > span#second{
	color: #B498E0;
}

div.page > div.contacts > p:last-of-type > span#third{
	color: #B0C988;
}

footer{
	position: relative;
	bottom: 0;
	width: 100%;
	margin: 3em 0 0 0;
}

footer > p{
	text-align: center;
	line-height: 2em;
	font-family: "source-code-pro", "Source Code Pro", "Courier New", monospace;
	font-weight: 400;
	background-color: #cccccc;
	font-size: 0.8em;
	bottom: 0;
	color: #000001;
}

footer > p > span#heart{
	color: red;
}



